<h2>Product List</h2>
<%= link_to("New Product", new_product_path,class:"btn btn-info pull-right") %>
<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Images</th>
    <th>Action</th>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td>
        <% product.photo.images.each do |image| %>
          <%= image_tag(image.thumb.url,class:"thumbnail") %>
        <% end %>
      </td>
      <td>
        <%= link_to("Edit", edit_product_path(product),class: "btn btn-success") %>
        <%= link_to("Delete", product_path(product),method: :delete, data:{confirm: "Are you sure ?"},class: "btn btn-danger") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
